@page
@model WebApplication3.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form>
    Nome: <input type="text" name="Usuarios.Nome" value="@Model.usuarios.Nome" /><br />
   Senha: <input type="password" name="Usuarios.Senha" /><br />
    <button>Enviar</button>
</form>

